# [Kaggle's](https://www.kaggle.com/) Titanic Competition

In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.metrics import roc_auc_score,roc_curve

In [22]:
df_train = pd.read_csv("data/clean_train.csv")
df_train.shape

(891, 17)

In [23]:
df_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_male,age_fill,pclass_1,pclass_2,pclass_3
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,1,22,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,0,38,1,0,0

In [24]:
df_test = pd.read_csv("data/clean_test.csv")
df_test.shape

(418, 16)

In [25]:
df_test.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_male,age_fill,pclass_1,pclass_2,pclass_3
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1,34.5,0,0,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,47.0,0,0,1

In [26]:
# train dataset
y = df_train['Survived']
X = df_train.drop(['PassengerId','Survived'], axis=1)

# test dataset
test_id = df_test['PassengerId']
test = df_test.drop(['PassengerId'], axis=1)

#split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
print(X_train.shape, X_test.shape, test.shape)

((712, 15), (179, 15), (418, 15))

In [27]:
model = LogisticRegression(penalty='l2', dual=False)
X_mapp = X_train[['is_male','age_fill','pclass_1','pclass_2']]
model.fit(X_mapp, y_train)
print model.score(X_mapp, y_train)

0.803370786517

In [28]:
X_tmapp = X_test[['is_male','age_fill','pclass_1','pclass_2']]
roc_auc_score(y_test, model.predict(X_tmapp), average='weighted')

0.74244833068362481

In [29]:
test_mapp = test[['is_male','age_fill','pclass_1','pclass_2']]
y_pred = model.predict(test_mapp)
submission = pd.DataFrame({"PassengerId":test_id, "Survived": y_pred})
submission.to_csv("output/submission_mapp.csv", index=False)

In [ ]:
# Public leaderboard: 0.76077